<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha - História dos Selos</title>
    <link rel="stylesheet" href="/styles_ficha.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/icon/Selo de Ydra icon.png" alt="Logo">
            </div>
            <div class="menu">
                <nav class="nav-barramenu">
                    <a href="/">Menu</a>
                    <a href="/fichas">Fichas</a>
                    <a href="/campanhas">Campanhas</a>
                    <a href="/arkaminos">Arkaminos</a>
                </nav>
            </div>
            <div class="perfilusuario">
                <a href="/configuracoes_usuario" id="profileLink" class="profile-link">
                    <button id="profileButton"></button>
                </a>
            </div>
        </div>
    </header>

    <!-- Página -->

    <main>
        <div class="ficha-container">
            <div class="character-header">
                <button id="uploadImageBtn" class="upload-button">
                    <img src="/public/images/default-avatar.jpg" alt="avatar" id="characterImage" width="50" height="50">
                </button>

                <div class="character-info">
                    <input type="text" id="characterName" placeholder=""










            </div>
        </div>
    </main>


</body>
</html>